.About {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.AboutLeft {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    align-content: center;
}

.AboutLeft hr {
    width: 75px;
    border: 1px solid #E76F51;
    float: left;
    margin-left: 100px;
}

.about-title {
    display: flex;
    flex-direction: row;
}

.about-title h5 {
    color: #E76F51;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.AboutLeft h1 {
    font-size: 2.5em;
    text-align: left;
    margin-left: 100px;
    color: white;
    margin-top: 0px;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.AboutLeft p {
    margin-left: 100px;
    font-size: 1em;
    text-align: left;
    max-width: 500px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 157.2%;
    text-align: justify;
}

.AboutLeft ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
    margin-left: 50px;
}

.AboutLeft ul li a {
    margin: 10px;
    font-size: 1.5em;
    color: white;
    transition: all 0.4s ease;
}

.AboutLeft ul li a:hover {
    color: #E76F51;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 90px;
}

.AboutRight {
    width: 45%;
}

@media screen and (max-width: 1024px) {
    .AboutLeft h1 {
        font-size: 2.0em;
    }
}

@media screen and (max-width: 800px) {
    .AboutLeft h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .About {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        /* margin-left: 40px; */
    }
    .AboutLeft {
        grid-area: AboutLeft;
        width: 100%;
    }
    .AboutRight {
        grid-area: AboutRight;
        width: 100%;
    }
    .AboutLeft hr {
        margin-left: 40px;
    }
    .about-title h5 {
        font-size: 0.6em;
    }
    .AboutLeft h1 {
        font-size: 1.2em;
        margin-left: 0px;
        margin-left: 40px;
    }
    .AboutLeft p {
        font-size: 16px;
        font-weight: 300;
        margin-left: 0;
        max-width: 80vw;
        line-height: 190%;
        margin-left: 40px;
    }
    .AboutLeft ul {
        display: flex;
        justify-content: left;
        margin-left: 0px;
    }
    .AboutLeft ul li a {}
    .buttons-container {
        margin-left: 0px;
        justify-content: center;
    }
}