.Home {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin: 0 auto;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 100px;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.HomeLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 100px;
}

.HomeLeft h1 {
    text-align: left;
    font-size: 3em;
    color: #fff;
    line-height: 115%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.HomeLeft h3 {
    text-align: left;
    color: #E76F51;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.HomeRight {
    display: flex;
    width: 50%;
    margin-right: 100px;
    margin-top: 20vh;
}

#computerguyImg {
    width: 550px;
    /* margin-top: 35%; */
}

.float-icons {
    width: 40px;
}

#jsIcon {
    position: absolute;
    top: 50%;
    left: 100px;
}

#htmlIcon {
    position: absolute;
    top: 38%;
    left: 120px;
}

#cssIcon {
    position: absolute;
    top: 46%;
    left: 170px;
}

#codeIcon {
    position: absolute;
    top: 33%;
    left: 195px;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 10px;
}

.arrows path {
    stroke: #E76F51;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

    {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

@media screen and (max-width: 1024px) {
    .HomeLeft h1 {
        font-size: 2.2em;
    }
    .HomeRight {
        margin-top: 35vh;
    }
    .float-icons {
        width: 25px;
    }
    #computerguyImg {
        width: 350px;
    }
}

@media screen and (max-width: 800px) {
    .HomeLeft h1 {
        font-size: 1.8em;
    }
    #computerguyImg {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .Home {
        display: grid;
        grid-template-columns: 0.8fr;
        grid-template-rows: 0.1fr 0.1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas: "." "HomeRight" "HomeLeft";
        margin-left: 80px;
    }
    .home-icon {
        left: 45%;
        top: 15px;
    }
    .HomeLeft {
        grid-area: HomeLeft;
        width: 100%;
        margin-top: 0;
        margin: 0 auto;
    }
    .HomeLeft h1 {
        text-align: left;
    }
    .HomeRight {
        grid-area: HomeRight;
        display: flex;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: 10%;
    }
    #computerguyImg {
        width: 200px;
    }
    #jsIcon {
        position: absolute;
        top: 40%;
        left: 20px;
    }
    #htmlIcon {
        position: absolute;
        top: 10%;
        left: 40px;
    }
    #cssIcon {
        position: absolute;
        top: 30%;
        left: 60px;
    }
    #codeIcon {
        position: absolute;
        top: 5%;
        left: 90px;
    }
}

@media screen and (max-width: 376px) {}