.Mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 70px 0px;
    margin: 0;
    grid-template-areas: "HomeGridContainer" "AboutGridContainer" "FeaturedProjectGridContainer" "ProjectsGridContainer" "TestimonialsGridContainer";
}

.HomeGridContainer {
    grid-area: HomeGridContainer;
}

.AboutGridContainer {
    grid-area: AboutGridContainer;
}

.FeaturedProjectGridContainer {
    grid-area: FeaturedProjectGridContainer;
}

.ProjectsGridContainer {
    grid-area: ProjectsGridContainer;
}

.TestimonialsGridContainer {
    grid-area: TestimonialsGridContainer;
}