.Testimonials {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.TestimonialsLeft {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    align-content: center;
}

.TestimonialsLeft hr {
    width: 75px;
    border: 1px solid #E27D60;
    float: left;
    margin-left: 100px;
}

.testimonials-title {
    display: flex;
    flex-direction: row;
}

.testimonials-title h5 {
    color: #E27D60;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.TestimonialsLeft h1 {
    font-size: 2.5em;
    text-align: left;
    margin-left: 100px;
    color: white;
    margin-top: 0px;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.sliderTestimonials {
    width: 600px;
    margin-left: 100px;
}

.TestimonialsRight {
    width: 45%;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.TestimonialsRight img {
    width: 450px;
}

.slick-dots li button:before {
    /* color: orange; */
    color: black;
    font-size: 15px;
}

.slick-dots li.slick-active button:before {
    color: #E76F51 !important;
}

@media screen and (max-width: 1024px) {
    .TestimonialsLeft h1 {
        font-size: 2.0em;
    }
    .sliderTestimonials {
        max-width: 400px;
    }
    .TestimonialsRight img {
        max-width: 250px;
    }
}

@media screen and ( max-width: 800px) {
    .Testimonials {
        flex-direction: column;
    }
    .TestimonialsLeft {
        width: 100%;
    }
    .sliderTestimonials {
        max-width: 100%;
    }
    .TestimonialsLeft h1 {
        font-size: 1.5em;
    }
    .TestimonialsRight {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .TestimonialsRight img {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .Testimonials {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }
    .TestimonialsRight {
        grid-area: TestimonialsRight;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: left;
    }
    .TestimonialsRight img {
        width: 200px;
    }
    .TestimonialsLeft {
        grid-area: TestimonialsLeft;
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        /* margin-left: 20px; */
    }
    .TestimonialsLeft h1 {
        font-size: 1.2em;
        margin-left: 40px;
    }
    .TestimonialsLeft hr {
        margin-left: 40px;
    }
    .TestimonialsLeft h5 {
        font-size: 0.6em;
    }
    .sliderTestimonials {
        max-width: 100vw;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
}