@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.App {
  text-align: center;
  background-image: url('../src/media/Background.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.FullPage {
  width: 100vw;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E76F51 !important;
}

@media screen and (max-width: 500px) {
  .App {
    background-image: url('./media/BackgroundMobile.svg');
  }
}